[Desktop Entry]
Name=GnomePaper Engine
GenericName=Wallpaper Engine for GNOME
Comment=Run Steam Wallpaper Engine wallpapers on GNOME
Exec=gnomepaper-engine
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=Utility;GTK;GNOME;
Keywords=wallpaper;steam;desktop;background;live;
StartupNotify=true
DBusActivatable=false
StartupWMClass=io.github.gnomepaper.Engine
